body{
  padding-top: 50px;
}

.search-container{
  padding-top: 10px;
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -40px;
  
}





/* Stuff that will already be in ext - probably. */

html {
  height:100%;
  margin-bottom: 60px;
  background-color: #F5F5F5;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  * {
    box-sizing: border-box;
  }
}


.page-header {
    background-position: 50% 75%;
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin-bottom: 1rem;
    min-height: 5vh;
}


/* Background strip at top */

.strip-background {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 600px;
  background-color: #b4c1b4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/* Search results */

.search__results {
  top: 75px;
  padding: 0 20px;
  width: 80%;
  margin: 20px auto 0;
  position: relative;
  z-index: 1;


  @media screen and (min-width: 768px) {
    padding: 0;
    width: 75%;
    margin-top: 40px;
  }
}

/* Generic cards */

.card {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
}


.search-item {
  width: 100%;
  border-bottom: 1px solid #D3DCE6;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: table;
}

.search-item__image {
  order: 1;
  padding-left: 20px;
  width: 10%;
  float: left;
  display:table-cell;

  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  @media screen and (min-width: 300px) {
    width: 80px;
    height: 80px;
  }
}


.search-item__content {
  order:2;
  padding-left: 100px;
  width: 40%;
  float: left;
  display:table-cell;

  @media screen and (min-width: 300px) {
    width: auto; 
  }
}


.search-item__button{
  order: 3;
  padding-left: 1px ;
  width: 30%;
  float: right;
  display:table-cell;

  @media screen and (min-width: 300px) {
    width: auto;
    height: 50px; 
  }
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px; 
  font-weight: 500;
  color: #fff;
  background-color:   #61b876;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.button:hover {
  background-color: #001900;
      box-shadow: 0px 15px 20px rgba(163,183,163)/*(119, 29, 0, 0.73)*/;
  color: #fff;
  transform: translateY(-7px);
}



/* Text modifiers */

.text--upcase {
  text-transform: uppercase; 
}
.text--small {
  font-size: 14px;
}
.text--muted {
  color: #8F8F8F; 
}
.text--medium {
  font-weight: 400;
}
.text--center {
  text-align: center;
}

img{
  border-radius: 8px;
}
 
footer{
  top: 900px;
}
