/*------------------------------------------------------*/
/* Styling for basic HTML tags */
/*------------------------------------------------------*/
html {
  height:100%;
  margin-bottom: 60px;
  background-color: #F5F5F5;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  * {
    box-sizing: border-box;
  }
}

img{
  border-radius: 8px;
}
 


/*------------------------------------------------------*/
/* Styling is in order of HTML document */
/*------------------------------------------------------*/

.page-header {
    background-position: 50% 75%;
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin-bottom: 1rem;
    min-height: 5vh;
    color: #4c4c4c;
}


/* Background strip at top */

.strip-background {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 350px;
  background-color: #b4c1b4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/*------------------------------------------------------*/
/*Search Bar */
/*------------------------------------------------------*/


/*Resize the wrap to see the search bar change!*/
.wrap{
  padding-top: 150px;
  width: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-bar {
  float: left;
  width: 100%;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  color: #4c4c4c;
}

#search-bar:focus{
  color: #4c4c4c;
}

#search-button {
  position: absolute;  
  right: -50px;
  width: 45px;
  height: 42px;
  border: 1px solid #D0CFCE;
  background: #fff;
  text-align: center;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#search-button:hover{
  color: #4c4c4c;
}


/*------------------------------------------------------*/
/* Loading
/*------------------------------------------------------*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #61b876;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*------------------------------------------------------*/
/* Search results */
/*------------------------------------------------------*/

.search__results {
  top: 150px;
  padding: 0 20px;
  width: 80%;
  margin: 20px auto 0;
  position: relative;
  z-index: 1;


  @media screen and (min-width: 768px) {
    padding: 0;
    width: 75%;
    margin-top: 40px;
  }
}

/* Generic cards */

.card {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
}


.result_item {
  width: 100%;
  border-bottom: 1px solid #D3DCE6;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: table;
}

.result_item__image {
  order: 1;
  padding-left: 20px;
  width: 10%;
  float: left;
  display:table-cell;

  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  @media screen and (min-width: 300px) {
    width: 80px;
    height: 80px;
  }
}


.result_item__content {
  order:2;
  padding-left: 100px;
  width: 40%;
  float: left;
  display:table-cell;

  @media screen and (min-width: 300px) {
    width: auto; 
  }
}


/*------------------------------------------------------*/
/* View Albums Button */
/*------------------------------------------------------*/

.result_item__button{
  order: 3;
  padding-left: 1px ;
  width: 30%;
  float: right;
  display:table-cell;

  @media screen and (min-width: 300px) {
    width: auto;
    height: 50px; 
  }
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px; 
  font-weight: 500;
  color: #fff;
  background-color:#61b876;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.button:hover {
  background-color: #001900;
      box-shadow: 0px 15px 20px rgba(163,183,163)/*(119, 29, 0, 0.73)*/;
  color: #fff;
  transform: translateY(-7px);
}

/*------------------------------------------------------*/
/* Arrow icons
/*------------------------------------------------------*/

.fa-angle-left, .fa-angle-right{
    color: #61b876;
}
/*------------------------------------------------------*/
/* Text modifiers */
/*------------------------------------------------------*/


.text--muted {
  font-size: 14px;
  color: #8F8F8F; 
}
.text--medium {
  font-weight: 400;
}
.text--center {
  text-align: center;
}

